# Data Exploration

## 1. Google Trends Dataset

To get started, I have loaded data from this dataset into a pandas dataframe in order to get a preview of the data itself.

In [2]:
import pandas as pd

path = '/Users/ron/Desktop/Springboard/Data/google_trends.csv'
df_google = pd.read_csv(path)
df_google.head()

                  date  bitcoin  btc  isPartial
0  2015-01-06 00:00:00       79    9      False
1  2015-01-06 01:00:00       63   11      False
2  2015-01-06 02:00:00       67   13      False
3  2015-01-06 03:00:00       57   13      False
4  2015-01-06 04:00:00       56   17      False

We can see here that the date column is in YYYY-MM-DD HH:MM:SS format. The isPartial column is not useful for this project and can be dropped. Finally, we have columns 'bitcoin' and 'btc' which represent how these two keywords were trending. To make it more useful for analysis, we can either sum it up or take the higher of the two to better represent how it was trending.

It is highly likely that a separate table will be created as a calendar table to store all possible date parts and also reduce redundancy in the other datasets. This means the date column will be replaced with foreign key to the date table, and we will use the SERIAL data type as the primary key.

## 2. Bitstamp Dataset

The Bitstamp dataset will be similar to the coinbase dataset. Both will have an epoch timestamp with candlestick data along with volume. We will examine it the same way.

In [5]:
path = '/Users/ron/Desktop/Springboard/Data/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv'
df_bs = pd.read_csv(path)
df_bs.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The immediate observation here is that there are rows of data showing NaN. For whatever reason, during this period of time no exchange data was captured on Bitstamp. We have a few options here: either we clean the data by setting it to NULL, delete the rows with NaN data, or attempt to replace this data by pulling historical data using the Coinbase API. 
Second, the Timestamp column is in epoch format and may need to be converted. Like with the previous dataset, we will utilize a date table and replace the timestamps with foreign keys. 
Finally, we can drop the Volume_(BTC) and Weighted_Price column as that is not needed, and most likely we will also not need the Open, High and Low columns but we can keep it for analysis in smaller time frames.

## 3. Coinbase Dataset

The Coinbase dataset is expected to be similar, if not the same as the Bitstamp dataset.

In [6]:
path = '/Users/ron/Desktop/Springboard/Data/results_cb_3-31_12-31.csv'
df_cb = pd.read_csv(path)
df_cb.head()

   1617235200  58756.07   59111.0  58800.01  59111.0.1  78.45167242
0  1617234900  58698.43  58838.00  58758.31   58800.00    39.945171
1  1617234600  58734.14  58850.01  58850.00   58758.31    19.606259
2  1617234300  58815.43  58893.08  58815.43   58857.18    39.352361
3  1617234000  58755.42  58827.42  58773.89   58818.55    31.487434
4  1617233700  58751.16  58853.09  58840.22   58773.89    46.714640

It looks like this dataset is missing a header column. Fortunately, the initial code took note of what each column stands for and we can also see that the first column is also a timestamp in epoch. For consistency, the extraction code will need to be modified to add the columns. The epoch time column will use the same date table that the other tables will be using. 
Also, it looks like the last column is for volume but the number is too small so it must be volume in BTC rather than USD. We can run a calculation to get and store the volume in USD by multiplying the close value with the BTC volume.
We will be merging this dataset with the Bitstamp dataset, so it is imperative that both sets of data have the same columns and data formats.

## 4. Twitter Dataset

Finally, we have the twitter dataset. This is the most complex out of all four datasets. Let us examine a few records.

In [15]:
path = '/Users/ron/Desktop/Springboard/Data/tweets.csv'
df_t = pd.read_csv(path, nrows=5)
df_t.head()

  id;user;fullname;url;timestamp;replies;likes;retweets;text
0  1132977055300300800;KamdemAbdiel;Abdiel kamdem...
1  1132977073402736640;bitcointe;Bitcointe;;2019-...
2  1132977023893139456;3eyedbran;Bran - 3 Eyed Ra...
3  1132977089089556481;DetroitCrypto;J. Scardina;...
4                                  BTC: $8721.99 USD

Few things to mention here. First, the tweets.csv file is the largest of all the datasets (4-5GB). As a result, I had to use pd.read_csv with a parameter limiting the number of rows to pull. Next, the data is all concatenated currently but it looks like semi-colon is the delimiter. So let's re-run the code but with a parameter to separate the columns.

In [16]:
path = '/Users/ron/Desktop/Springboard/Data/tweets.csv'
df_t = pd.read_csv(path, sep=';', nrows=5)
df_t.head()

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1132977055300300800,KamdemAbdiel,Abdiel kamdem,NaN,2019-05-27 11:49:14+00,0,0,0,È appena uscito un nuovo video! LES CRYPTOMONN...
1,1132977073402736640,bitcointe,Bitcointe,NaN,2019-05-27 11:49:18+00,0,0,0,Cardano: Digitize Currencies; EOS https://t.co...
2,1132977023893139456,3eyedbran,Bran - 3 Eyed Raven,NaN,2019-05-27 11:49:06+00,0,2,1,Another Test tweet that wasn't caught in the s...
3,1132977089089556481,DetroitCrypto,J. Scardina,NaN,2019-05-27 11:49:22+00,0,0,0,Current Crypto Prices! \n\nBTC: $8721.99 USD\n...
4,1132977092340191232,mmursaleen72,Muhammad Mursaleen,NaN,2019-05-27 11:49:23+00,0,0,0,Spiv (Nosar Baz): BITCOIN Is An Asset &amp; NO...

This is much better. Now we can see all the data fields separated. Twitter id is probably not useful since we have the user column, therefore we can drop that column. Similarly with fullname and url, they are not necessary information so we can drop those as well.

In the timestamp column, we will convert it to epoch and utilize the date table that the other datasets will be using. This will ultimately reduce redundancy as well as make it easy to pull data from all tables across a certain period of time.

The public metrics (replies, likes, retweets) can be useful indicators as to how much positive sentiment the viewers have towards the tweet, unfortunately there isn't any data on the total number of impressions. Because of this, to better understand how tweets may be affecting the price of bitcoin, we want to do two things:
    - Create a new table and pull separate information on all the users that have tweeted in this dataset. We want information such as number of followers and age of account. This will help narrow down the accounts we actually want to follow when we draw comparisons between twitter activity and bitcoin price.
    - Utilize the Textblob python library for sentiment analysis on the tweet itself. By converting the text and assigning it a quantitative value, we can use it better for analysis.
    
Finally, I notice that some text is not in English. Translations will need to be performed.

Below is an example of how the sentiment analysis will work.

In [27]:
from textblob import TextBlob

test = TextBlob("#bitcoin has broken out of the downtrend, \
                and is currently trading above the 200 day EMA. \
                We about to be rich rich. NICE!!!!")
test.sentiment

Sentiment(polarity=0.225, subjectivity=0.5666666666666667)

What does this mean? Polarity is the emotion expressed in a sentence. As we all know, the market is highly based on human emotion and often is not based on logic. Therefore the polarity value will be crucial in identifying positive/negative sentiment and how it impacts the price of bitcoin.
Subjectivity will also be important, as the more subjective a statement is the more we know the user is highly opinionated and leaning towards positive or negative. 
In the above example we can see the text is highly opinionated and leaning positive.