# Data Exploration

## 1. Google Trends Dataset

To get started, I have loaded data from this dataset into a pandas dataframe in order to get a preview of the data itself.

In [2]:
import pandas as pd

path = '/Users/ron/Desktop/Springboard/Data/google_trends.csv'
df_google = pd.read_csv(path)
df_google.head()

                  date  bitcoin  btc  isPartial
0  2015-01-06 00:00:00       79    9      False
1  2015-01-06 01:00:00       63   11      False
2  2015-01-06 02:00:00       67   13      False
3  2015-01-06 03:00:00       57   13      False
4  2015-01-06 04:00:00       56   17      False

We can see here that the date column is in YYYY-MM-DD HH:MM:SS format. The isPartial column is not useful for this project and can be dropped. Finally, we have columns 'bitcoin' and 'btc' which represent how these two keywords were trending. To make it more useful for analysis, we can either sum it up or take the higher of the two to better represent how it was trending.

It is highly likely that a separate table will be created as a calendar table to store all possible date parts and also reduce redundancy in the other datasets. This means the date column will be replaced with foreign key to the date table, and we will use the SERIAL data type as the primary key.

## 2. Bitstamp Dataset

The Bitstamp dataset will be similar to the coinbase dataset. Both will have an epoch timestamp with candlestick data along with volume. We will examine it the same way.

In [5]:
path = '/Users/ron/Desktop/Springboard/Data/bitstampUSD_1-min_data_2012-01-01_to_2021-03-31.csv'
df_bs = pd.read_csv(path)
df_bs.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The immediate observation here is that there are rows of data showing NaN. For whatever reason, during this period of time no exchange data was captured on Bitstamp. We have a few options here: either we clean the data by setting it to NULL, delete the rows with NaN data, or attempt to replace this data by pulling historical data using the Coinbase API. 
Second, the Timestamp column is in epoch format and may need to be converted. Like with the previous dataset, we will utilize a date table and replace the timestamps with foreign keys. 
Finally, we can drop the Volume_(BTC) column as that is not needed, and most likely we will also not need the Open, High and Low columns but we can keep it for analysis in smaller time frames.